.message-tab-container {
  @include position(absolute, -25px 30px null null);
}

.message-tab {
  @include box-sizing(border-box);
  @include transition(opacity 0.15s ease);
  display: inline-block;
  background-color: #e0e0e0;
  min-height: 25px;
  padding: 5px 7px;
  border-radius: 4px 4px 0 0;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 15px;
  color: #888;
  opacity: 0.5;

  & + & {
    margin-left: 5px;
  }

  &:hover {
    opacity: 1;
  }
}

.message-tab-content {
  
}