.chatroom {
  @include position(absolute, 0 0 0 0);
}

$form-height: 80px;

.messages-holder {
  padding: 20px 20px ($form-height + 20px);
}

.message-form-container {
  @include position(fixed, null 0 0 0);
  height: $form-height;
  padding: 0 20px 30px;
  background-color: #fff;
}