body {
  font-family: $font-sans;
  font-size: $size-text-base;
  font-weight: 400;
  line-height: $size-line-base;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

template {
  display: none;
}